<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utils/style.css">
    <title>SchülerHackathonLeer | Dashboard</title>
</head>
<body>
    <header>
        <div>
            <h1 class="logo center">Schüler-Hackathon</h1>
            <h2 class="logo center">Leer</h2>
        </div>
    </header>
    <main class="content-area">
        <div class="title-box">
            <h3 class="text-white center title">Willkommen im Admin-Dashboard zum Schüler-Hackathon.</h3>
        </div>
        <div>
            <h2 class="text-white center title">Anmeldungen:</h2>
            <div class="center table">
                <h4>Lade Anmeldungen aus der Datenbank</h4>
                <table>
                    <tr>
                        <th>User-Name</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Schule & Jahrgang</th>
                        <th>Team</th>
                    </tr>
                    <tr>
                        <td>mustermann#11111</td>
                        <td>Max Mustermann</td>
                        <td>mustermann@mustermail</td>
                        <td>MAx-Schule 7</td>
                        <td>Max's</td>
                    </tr>
                </table>
            </div>
            <div class="reload-button center">
                <a onclick="loadDB();" class="center button-content">Anmeldungen neuladen!</a>
            </div>
        </div>
    </main>
</body>
</html>