<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utils/style.css">
    <title>SchülerHackathonLeer | Dashboard</title>
</head>
<body>
    <header>
        <div>
            <h1 class="logo center">Schüler-Hackathon</h1>
            <h2 class="logo center">Leer</h2>
        </div>
    </header>
    <main class="content-area">
        <div class="title-box">
            <h3 class="text-white center title">Willkommen im Admin-Dashboard zum Schüler-Hackathon.</h3>
        </div>
        <div>
            <h2 class="text-white center title">Anmeldungen:</h2>
            <div class="center table">
                <table>
                    <tr>
                        <th>User-Name</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Schule & Jahrgang</th>
                        <th>Team</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[3] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ user[4] }} {{ user[5] }}</td>
                            <td>{{ user[6] }}</td>  
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
</body>
</html>
