<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utils/style.css">
    <title>SchülerHackathonLeer | Home</title>
</head>
<body>
    <header>
        <div>
            <h1 class="logo center">Schüler-Hackathon</h1>
            <h2 class="logo center">Leer</h2>
        </div>
    </header>
    <main class="content-area">
        <div class="title-box">
            <h3 class="text-white center title">Willkommen in der Übersicht zum Schüler-Hackathon.</h3>
        </div>
        <div class="dashboard_card">
            <div class="dashboard_card-content">
                <p class="text-white center dashboard_card-text">Alle Anmeldungen findest du als Admin im</p>
                <div class="button center">
                    <a href="" class="center button-content">Dash-board</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
